@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

/* Base styles for the sidebar */
.sidebar {
  transition: width 0.3s;
}
body{
  overflow-y: hidden;
  min-height: 100vh; 
}

/* Hide the sidebar on screens smaller than 768px */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main-content {
    width: 100% !important;
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

